<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/db.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<main class="container">
    <header class="header"></header>
    <div class="wait">
        <img class="loading" src="img/loading.gif"/>
    </div>
    <section class="first-page">
        <ul class="category-list-box"></ul>
    </section>
    <section class="second-page">
        <table class="category-table">
            <thead>
            <tr>
                <th>Categoria</th>
                <th>Nome</th>
                <th>Conservazione</th>
                <th>Referrer</th>
                <th>Qualità</th>
                <th>Riserve</th>
                <th>Prezzo</th>
                <th>Costo</th>
                <th>Fornitore</th>
            </tr>
            <tr>
                <td class="search-box" colspan="9">
                    <input type="text" class="search" value="" placeholder="Search" />
                </td>
            </tr>
            </thead>
            <tbody class="body-table">

            </tbody>
        </table>
    </section>
</main>
</body>
</html>